<!DOCTYPE html>
<html lang="{{ or site.Language.Lang site.Language.LanguageCode }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="dark">
  <meta name="theme-color" content="#0b0b0b">

  {{- partial "head/meta.html" . -}}
  {{- partial "head/styles.html" . -}}
  {{- partial "head/scripts.html" . -}}
</head>

<body>
  {{- partial "header.html" . -}}

  <main>
    {{- block "main" . }}{{- end }}
  </main>

  {{- partial "footer.html" . -}}
  {{- partial "scripts.html" . -}}
</body>
</html>
