{{- /* Google Fonts */ -}}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

{{- /* Custom SCSS */ -}}
{{- $custom := resources.Get "scss/custom.scss" }}
{{- if $custom }}
  {{- $custom := $custom | css.Sass }}
  {{- if eq .Site.Params.env "production" | and (ne .Site.Params.disableFingerprinting true) }}
    {{- $custom := $custom | resources.Minify | resources.Fingerprint "sha256" }}
    <link crossorigin="anonymous" href="{{ $custom.RelPermalink }}" integrity="{{ $custom.Data.Integrity }}" rel="stylesheet">
  {{- else }}
    <link crossorigin="anonymous" href="{{ $custom.RelPermalink }}" rel="stylesheet">
  {{- end }}
{{- end }}

{{- /* Dark mode script */ -}}
<script>
  if (localStorage.getItem("pref-theme") === "dark") {
    document.documentElement.setAttribute('data-theme', 'dark');
  } else if (localStorage.getItem("pref-theme") === "light") {
    document.documentElement.setAttribute('data-theme', 'light');
  } else if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
    document.documentElement.setAttribute('data-theme', 'dark');
  }
</script>